.create{
    display: flex;
    align-content: center;
    justify-content: center;
    
}
.content {
    padding: 2rem;
    border-radius: 30px;
    background: #797178;
    box-shadow: 15px 15px 30px #3c3c3cbb, -15px -15px 30px #3c3c3cbb;
    width: fit-content;
    background-color: #d5c5db;
    margin: 0% auto
}
.content img{
    width: 180px;
    height: 180px;
}
.titulo{
    color: #fbfafb;
}

 .fondo{
   height: 1100px;
   background-image: url('https://img.freepik.com/free-photo/top-view-food-frame-with-copy-space_23-2148723447.jpg?size=626&ext=jpg&ga=GA1.1.1109572956.1673889122&semt=sph');
   background-size:cover;
   background-repeat: no-repeat;
  background-position: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
  margin: 0%;
  }

  .error{
    font-weight:bold;
    color: red;
  }


.boton{
    background-color: rgba(245, 240, 245, 0.698);
    border-color: rgba(240, 234, 243, 0.915);
    border-radius: 5%;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    color: rgba(11, 11, 11, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset
  }

  .boton:hover {
    background: #efdbea;
}

.eliminar{
  margin-left: 8px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight:bold;
}